<!DOCTYPE html>
<html ng-app="exampleApp">
<head>
	<title>Mono</title>
	<script src="angular.js"></script>
	<link rel="stylesheet" href="bootstrap.css">
	<link rel="stylesheet" href="bootstrap-theme.css">
	<script>
		angular.module("exampleApp", []).controller("exCtrl", function($scope){
			$scope.addresses = {};
			$scope.getAddress = function(type, zip){
				$scope.addresses[type] = zip;
			}
			$scope.copyZip = function(){
				$scope.shippingZip = $scope.billingZip;
			}
		});
	</script>
</head>
<body ng-controller="exCtrl">
	<div class="well">
		<h4>Billing Zip code</h4>
		<div class="form-group">
			<input class="form-control" ng-model="billingZip">
		</div>
		<button class="btn btn-primary" ng-click= "getAddress('billingZip', billingZip )">Save Billing</button>
	</div>
	<div class="well">
		<h4>Shipping Zip code</h4>
		<div class="form-group">
			<input class="form-control" ng-model="shippingZip">
		</div>
		<button class="btn btn-primary" ng-click="copyZip()">Get billing</button>
		<button class="btn btn-primary" ng-click= "getAddress('shippingZip', shippingZip )">Save shipping</button>
	</div>
</body>
</html>